cryptography==44.0.1
ansible[azure] >= 2.0.0
boto3 >= 1.18.0
botocore >= 1.21.0
ipaddr
jmespath==0.10.0
netaddr==0.10.1
paramiko==3.4.0
passlib
petname==2.6
pywinrm==0.4.1
requests==2.32.2
requests-credssp==2.0.0
yamllint==1.30.0
