# Ansible configuration file

[defaults]
inventory = inventory
remote_user = root
host_key_checking = False
retry_files_enabled = False
log_path = /var/log/ansible.log
deprecation_warnings = False
debug = False
verbosity = 0
display_skipped_hosts = False
error_on_undefined_vars = False
system_warnings = False
deprecation_warnings = False

[galaxy]
ignore_certs = True

[galaxy_options]
ignore_collection_compatibility = True

[privilege_escalation]
become = True
become_method = sudo
become_user = root

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
pipelining = True

[galaxy]
server_list = published_hub, validated_hub, release_galaxy

[galaxy_server.published_hub]
url = https://console.redhat.com/api/automation-hub/content/published/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NDQxMjIyNDcsImp0aSI6IjU5OTk2ZTI3LTk4ZDQtNGE4NS1iYzlkLTJjZmNjZGFjZWQzMiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpzaGFkZEByZWRoYXQuY29tIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiJkN2ZjM2IzMy1hOGExLTQ0YTEtODMxNS1kMzZiNzM3ZDRmNWUiLCJzaWQiOiJiZjNlOTE1ZS05YzI4LTRlNTctODUzYy00OWFlZTIxZmNmNTIiLCJzY29wZSI6Im9wZW5pZCBiYXNpYyBhcGkuaWFtLnNlcnZpY2VfYWNjb3VudHMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgb2ZmbGluZV9hY2Nlc3MifQ.XfSqitXsx6INriu-8hkjyejoJKc4cGV9jKtMWgGiWGc-nty4j-LiG9f3kzyMYPj1ykRSEH80ChGgSfG27IDjMw

[galaxy_server.validated_hub]
url = https://console.redhat.com/api/automation-hub/content/validated/
auth_url = https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NDQxMjIyNDcsImp0aSI6IjU5OTk2ZTI3LTk4ZDQtNGE4NS1iYzlkLTJjZmNjZGFjZWQzMiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpzaGFkZEByZWRoYXQuY29tIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiJkN2ZjM2IzMy1hOGExLTQ0YTEtODMxNS1kMzZiNzM3ZDRmNWUiLCJzaWQiOiJiZjNlOTE1ZS05YzI4LTRlNTctODUzYy00OWFlZTIxZmNmNTIiLCJzY29wZSI6Im9wZW5pZCBiYXNpYyBhcGkuaWFtLnNlcnZpY2VfYWNjb3VudHMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgb2ZmbGluZV9hY2Nlc3MifQ.XfSqitXsx6INriu-8hkjyejoJKc4cGV9jKtMWgGiWGc-nty4j-LiG9f3kzyMYPj1ykRSEH80ChGgSfG27IDjMw

[galaxy_server.release_galaxy]
url = https://galaxy.ansible.com/
token = 96cedda1b927c3872259d82903106e5697d48e6e