---
version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--ignore-errors'
  ANSIBLE_GALAXY_CLI_ROLE_OPTS: '--ignore-errors'
  PKGMGR_PRESERVE_CACHE: 'false'

images:
  base_image:
    name: 'registry.redhat.io/ansible-automation-platform-25/ee-supported-rhel9:latest'
    options:
      pull_policy: missing
      tls_verify: false

options:
  package_manager_path: /usr/bin/microdnf

additional_build_files:
  - src: /tmp/ee-containers/_build/configs/ansible.cfg
    dest: configs/ansible.cfg

dependencies:
  ansible_core:
    package_pip: ansible-core>=2.13.10
  ansible_runner:
    package_pip: ansible-runner>=2.4.0
  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt

additional_build_steps:
  prepend_base: |
    USER root
    # Use --ignore-installed to prevent attempts to uninstall system packages
    RUN microdnf upgrade -y && \
        microdnf install -y gcc make pkg-config python3-devel systemd-devel \
        libxml2-devel openssl-devel rpm-build krb5-devel krb5-libs krb5-workstation && \
        python3 -m pip install --user --user --upgrade --ignore-installed pip setuptools wheel

  prepend_builder: |
    # Install extra dependencies for problematic packages
    # Use --ignore-installed to prevent attempts to uninstall system packages
    RUN microdnf install -y krb5-devel krb5-libs krb5-workstation && \
        pip3 install --user --upgrade --ignore-installed pip setuptools wheel packaging

  append_builder: |
    # Check for any package issues but don't fail the build
    RUN pip3 check || echo "Some packages have issues, but continuing the build"

  prepend_final: |
    USER root
    RUN microdnf upgrade -y && \
        microdnf install -y python3-pip python3-devel gcc krb5-devel krb5-libs krb5-workstation && \
        python3 -m pip install --user --user --no-cache-dir --upgrade --ignore-installed pip setuptools wheel packaging && \
        python3 -m pip install --user --user --no-cache-dir --upgrade --ignore-installed ansible-core ansible-runner

  append_final: |
    USER root
    # Check for any package issues but don't fail the build
    RUN pip3 check || echo "Some packages have issues, but continuing the build"
    RUN microdnf clean all && \
        rm -rf /var/cache/{dnf,yum} && \
        echo "Build completed successfully"
