---
version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--ignore-errors --force --no-deps'
  ANSIBLE_GALAXY_CLI_ROLE_OPTS: '--ignore-errors'
  PKGMGR_PRESERVE_CACHE: 'false'
  AH_TOKEN: ''

images:
  base_image:
    name: 'registry.redhat.io/ansible-automation-platform-25/ee-supported-rhel9:latest'
    options:
      pull_policy: missing
      tls_verify: false

options:
  package_manager_path: /usr/bin/microdnf
  container_init:
    package_pip: 'packaging>=20.9' 
additional_build_files:
  - src:  ansible.cfg
    dest: configs/ansible.cfg
  - src: scripts/fix-packaging.sh
    dest: fix-packaging.sh


dependencies:
  ansible_core:
    package_pip: ansible-core>=2.13.10
  ansible_runner:
    package_pip: ansible-runner>=2.4.0
  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt

  options:
  package_manager_path: /usr/bin/microdnf

additional_build_steps:
  prepend_base: |
    USER root
    # Use --ignore-installed to prevent attempts to uninstall system packages
    RUN microdnf upgrade -y && \
        microdnf install -y gcc make pkg-config python3-devel systemd-devel \
        libxml2-devel openssl-devel rpm-build krb5-devel krb5-libs krb5-workstation && \
        python3 -m pip install --upgrade --ignore-installed pip setuptools wheel

  prepend_builder: |
    # Add fix for packaging module issue
    COPY fix-packaging.sh /fix-packaging.sh
    RUN chmod +x /fix-packaging.sh && /fix-packaging.sh
    
    # Install extra dependencies for problematic packages
    RUN microdnf install -y krb5-devel krb5-libs krb5-workstation && \
        pip3 install --upgrade --ignore-installed pip setuptools wheel && \
        # Create empty requirements-test.txt file to fix ncclient installation issues
        touch /requirements-test.txt
    
    # Install VMware dependencies with --ignore-installed flag
    RUN pip3 install --no-cache-dir --ignore-installed pyvmomi vapi-client-bindings
    
    # Pre-install cloud.common collection
    RUN ansible-galaxy collection install cloud.common:2.0.0 -f

  prepend_final: |
    USER root
    RUN microdnf upgrade -y && \
        microdnf install -y python3-pip python3-devel gcc krb5-devel krb5-libs krb5-workstation && \
        python3 -m pip install --no-cache-dir --upgrade --ignore-installed pip setuptools wheel && \
        python3 -m pip install --no-cache-dir --upgrade --ignore-installed ansible-core ansible-runner

  append_final: |
    USER root
    # Check for any package issues but don't fail the build
    RUN pip3 check || echo "Some packages have issues, but continuing the build"
    RUN microdnf clean all && \
        rm -rf /var/cache/{dnf,yum} && \
        echo "Build completed successfully"


