aiohttp
ansible-builder
ansible-core
ansible-creator
ansible-lint
ansible-modules-hashivault==4.6.3
ansible-navigator
ansible-sign
cryptography==44.0.1
deepdiff==5.7.0
git+https://github.com/vmware/vsphere-automation-sdk-python.git
httpx
jsonpatch
kubernetes>=12.0.0
molecule
netaddr
ovf==0.4.3
pandas==1.4.1
psycopg2
pynetbox==5.3.1
pysafeguard
pytest-ansible
pysnow
pyVmomi>=8.0.3.0.1
requests
requests-oauthlib
tox-ansible
vmware-vapi-common-client
vmware-vcenter