aiohttp
ansible-core
cryptography
deepdiff
git+https://github.com/vmware/vsphere-automation-sdk-python.git
httpx
jsonpatch
kubernetes
netaddr
ovf
pandas
pip
psycopg2
pytest-ansible
pyVmomi
pysafeguard
pysnow
pynetbox
requests
requests-oauthlib
setuptools
sign
typing-extensions
vmware-vapi-common-client
vmware-vcenter