# Since Ansible 2.12 (core):
# To generate an example config file (a "disabled" one with all default settings, commented out):
#               $ ansible-config init --disabled > ansible.cfg
#
# Also you can now have a more complete file by including existing plugins:
# ansible-config init --disabled -t all > ansible.cfg

# For previous versions of Ansible you can check for examples in the 'stable' branches of each version
# Note that this file was always incomplete  and lagging changes to configuration settings

# for example, for 2.9: https://github.com/ansible/ansible/blob/stable-2.9/examples/ansible.cfg

[galaxy]
server_list = validated, published, galaxy

[galaxy_server.published]
url=https://console.redhat.com/api/automation-hub/content/published/
https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3Mzk5MTg4NTYsImp0aSI6ImI0Y2E0ZTFlLTY5YTAtNGZiMC1iN2FhLWE4OTliOGRkMDkyNiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpzaGFkZEByZWRoYXQuY29tIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiI2NjY2YjEzNy1iNTljLTQ3N2UtOGU4NS1mMGRjYmQ4MTcwNjkiLCJzaWQiOiI4OTUwYzA4MC0xYjYxLTRjNmQtOTQzYi1mNjQxMThjNGUzMDYiLCJzY29wZSI6Im9wZW5pZCBiYXNpYyBhcGkuaWFtLnNlcnZpY2VfYWNjb3VudHMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgb2ZmbGluZV9hY2Nlc3MifQ.KMDqmrLQbeQ7g2ejmn39JCkIsi6QPbU5rhhy3wpulo4RmJxHSFbHCpD9rPd9wUXXAG1zVr5y91cRPtX7pTDGSQ

[galaxy_server.validated]
url=https://console.redhat.com/api/automation-hub/content/validated/
https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
token = eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3Mzk5MTg4NTYsImp0aSI6ImI0Y2E0ZTFlLTY5YTAtNGZiMC1iN2FhLWE4OTliOGRkMDkyNiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpzaGFkZEByZWRoYXQuY29tIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiI2NjY2YjEzNy1iNTljLTQ3N2UtOGU4NS1mMGRjYmQ4MTcwNjkiLCJzaWQiOiI4OTUwYzA4MC0xYjYxLTRjNmQtOTQzYi1mNjQxMThjNGUzMDYiLCJzY29wZSI6Im9wZW5pZCBiYXNpYyBhcGkuaWFtLnNlcnZpY2VfYWNjb3VudHMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgb2ZmbGluZV9hY2Nlc3MifQ.KMDqmrLQbeQ7g2ejmn39JCkIsi6QPbU5rhhy3wpulo4RmJxHSFbHCpD9rPd9wUXXAG1zVr5y91cRPtX7pTDGSQ

[galaxy_server.galaxy]
url=https://galaxy.ansible.com/
token=8f520a9a7d84ad3461c774e2b48462c64786a271
