---
version: 3

build_arg_defaults:
  ANSIBLE_GALAXY_CLI_COLLECTION_OPTS: '--ignore-errors'
  ANSIBLE_GALAXY_CLI_ROLE_OPTS: '--ignore-errors'
  PKGMGR_PRESERVE_CACHE: 'false'

images:
  base_image:
    name: 'registry.redhat.io/ansible-automation-platform-25/de-supported-rhel9:latest'
    options:
      pull_policy: missing
      tls_verify: false

dependencies:
  ansible_core:
    package_pip: "ansible-core>=2.15.0,<2.16"
  ansible_runner:
    package_pip: "ansible-runner>=2.3.1"
  python: requirements.txt
  system: bindep.txt
  galaxy: requirements.yml

options:
  package_manager_path: /usr/bin/microdnf

additional_build_steps:
  prepend_base: |
    USER root
    RUN microdnf install -y shadow-utils sudo python3-pip systemd-devel && \
        useradd -m -s /bin/bash admin && \
        echo "admin:redhat" | chpasswd && \
        echo "admin ALL=(ALL) NOPASSWD:ALL" >> /etc/sudoers && \
        chown -R admin:admin /home/admin && \
        python3 -m pip install --user --ignore-installed --no-cache-dir --upgrade pip setuptools wheel && \
        python3 -m pip install --user --ignore-installed --no-cache-dir --upgrade ansible-core>=2.13.10 ansible-runner

  prepend_final: |
    USER root
    RUN microdnf install -y gcc make pkg-config python3-devel systemd-devel && \
        ln -sf /usr/lib64/libsystemd.so.0 /usr/lib64/libsystemd-journal.so && \
        ansible --version && \
        ansible-runner --version

  append_final: |
    USER root
    RUN mkdir -p /etc/ansible && \
        echo "[defaults]" > /etc/ansible/ansible.cfg && \
        echo "remote_tmp = /tmp/.ansible-\${USER}/tmp" >> /etc/ansible/ansible.cfg && \
        microdnf clean all && \
        rm -rf /var/cache/{dnf,yum}
