---
version: 3

build_arg_defaults: {}

images:
  base_image:
    name: 'registry.redhat.io/ansible-automation-platform-25/de-minimal-rhel9:latest'
    options:
      pull_policy: missing
      tls_verify: false

additional_build_files:
  - src: ./ansible.cfg
    dest: configs/ansible.cfg

dependencies:
  galaxy: requirements.yml
  python: requirements.txt
  system: bindep.txt
  ansible_core:
    package_pip: 'ansible-core>=2.11.0'
  ansible_runner:
    package_pip: 'ansible-runner>=2.0.0'

options:
  package_manager_path: /usr/bin/microdnf

additional_build_steps:
  prepend_final: |
    RUN microdnf upgrade -y \
        && python3 -m pip install --no-cache-dir --upgrade pip setuptools wheel

  append_final: |
    RUN microdnf clean all \
        && rm -rf /var/cache/{dnf,yum} \
        && rm -rf /var/lib/dnf/history.* \
        && rm -rf /var/log/dnf.* /var/log/hawkey.log \
        && rm -rf /var/cache/dnf \
        && rm -rf /root/.cache \
        && rm -rf /etc/ansible/ansible.cfg
