[general]
container_runtime = "podman"
ansible_config = "/etc/ansible/ansible.cfg"
color = True
validate_certs = True
verbosity = 2

[builder]
base_image = "{{ base_image | default('registry.redhat.io/ansible-automation-platform-25/ee-minimal-rhel8:latest') }}"
container_init = True
package_manager_path = "/usr/bin/dnf"