---
# Ansible EE Builder Configuration - Last updated 2025-04-10T15:24:45Z
rh_username: 'shadd@redhat.com'
rh_password: 'bj8H7ndC7$'
automation_hub_token: 'eyJhbGciOiJIUzUxMiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICI0NzQzYTkzMC03YmJiLTRkZGQtOTgzMS00ODcxNGRlZDc0YjUifQ.eyJpYXQiOjE3NDQxMjIyNDcsImp0aSI6IjU5OTk2ZTI3LTk4ZDQtNGE4NS1iYzlkLTJjZmNjZGFjZWQzMiIsImlzcyI6Imh0dHBzOi8vc3NvLnJlZGhhdC5jb20vYXV0aC9yZWFsbXMvcmVkaGF0LWV4dGVybmFsIiwiYXVkIjoiaHR0cHM6Ly9zc28ucmVkaGF0LmNvbS9hdXRoL3JlYWxtcy9yZWRoYXQtZXh0ZXJuYWwiLCJzdWIiOiJmOjUyOGQ3NmZmLWY3MDgtNDNlZC04Y2Q1LWZlMTZmNGZlMGNlNjpzaGFkZEByZWRoYXQuY29tIiwidHlwIjoiT2ZmbGluZSIsImF6cCI6ImNsb3VkLXNlcnZpY2VzIiwibm9uY2UiOiJkN2ZjM2IzMy1hOGExLTQ0YTEtODMxNS1kMzZiNzM3ZDRmNWUiLCJzaWQiOiJiZjNlOTE1ZS05YzI4LTRlNTctODUzYy00OWFlZTIxZmNmNTIiLCJzY29wZSI6Im9wZW5pZCBiYXNpYyBhcGkuaWFtLnNlcnZpY2VfYWNjb3VudHMgcm9sZXMgd2ViLW9yaWdpbnMgY2xpZW50X3R5cGUucHJlX2tjMjUgb2ZmbGluZV9hY2Nlc3MifQ.XfSqitXsx6INriu-8hkjyejoJKc4cGV9jKtMWgGiWGc-nty4j-LiG9f3kzyMYPj1ykRSEH80ChGgSfG27IDjMw'
galaxy_token: '96cedda1b927c3872259d82903106e5697d48e6e'
