{
  "default": [{"type": "reject"}],
  "transports": {
    "docker": {
      "registry.redhat.io": [{"type": "insecureAcceptAnything"}],
      "registry.access.redhat.com": [{"type": "insecureAcceptAnything"}],
      "quay.io": [{"type": "insecureAcceptAnything"}],
      "docker.io": [{"type": "insecureAcceptAnything"}]
    }
  }
}