{
  "default": [{"type": "reject"}],
  "transports": {
    "docker": {
      {% for registry in container_registries %}
      "{{ registry }}": [{"type": "insecureAcceptAnything"}]{% if not loop.last %},{% endif %}
      {% endfor %}
    }
  }
}