[registries.search]
registries = ['docker.io', 'quay.io', 'registry.fedoraproject.org', 'registry.access.redhat.com', 'registry.redhat.io']

[registries.insecure]
registries = []

[registries.block]
registries = []

[registries]
registries = ['docker.io', 'quay.io', 'registry.fedoraproject.org', 'registry.access.redhat.com', 'registry.redhat.io']

[engine]
dns_servers = [{% for server in dns_servers %}'{{ server }}'{% if not loop.last %}, {% endif %}{% endfor %}]