aiohttp
ansible-builder
ansible-core
ansible-creator
ansible-lint
ansible-modules-hashivault
ansible-navigator
ansible-sign
cryptography
deepdiff
git+https://github.com/vmware/vsphere-automation-sdk-python.git
httpx
jsonpatch
kubernetes
molecule
netaddr
ovf
pandas
psycopg2
pynetbox
pysafeguard
pytest-ansible
pysnow
pyVmomi
requests
requests-oauthlib
tox-ansible
vmware-vapi-common-client
vmware-vcenter
