unqualified-search-registries = ["registry.access.redhat.com"]

[[registry]]
prefix = "registry.redhat.io"
location = "registry.redhat.io"
insecure = false

[[registry]]
prefix = "registry.access.redhat.com"
location = "registry.access.redhat.com"
insecure = false

[[registry]]
prefix = "registry.connect.redhat.com"
location = "registry.connect.redhat.com"
insecure = false