                            @@@@@@@@@@@
                           @@@@@@ @@@@@@
                ╔═════════@@@@@@════@@@@@═════════════════════════════════════════════════════╗
                ║        @@@@@@      @@@@@@                                                   ║
                ║       @@@@@@        @@@@@@                                                  ║
                ║      @@@@@@          @@@@@@                                                 ║
                ║     @@@@@@            @@@@@                                                 ║
                ║    @@@@@@@@            @@@@@@                                               ║
                ║   @@@@@@@@@@@@@         @@@@@@                                              ║
                ║  @@@@@@  @@@@@@@@@       @@@@@@                                             ║
                ║ @@@@@@      @@@@@@@@@     @@@@@@ NSIBLE & PODMAN                            ║
                ╠@@@@@@══════════@@@@@@@@════@@@@@@═══════════════════════════════════════════╣
               @@@@@@@              @@@@@@@@@@@@@@@@ EXECUTION BUILD MONITOR                  ║
              @@@@@@@══════════════════@@@@@@@@@@@@═══════════════════════════════════════════╝
             @@@@@@                      @@@@@@@@